
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
 a, em, img, q, s, small, strong, b, u, i, dl, dt, 
 dd, ol, ul, li, form, label, table, caption, tbody, 
 tfoot, thead, tr, th, td, article, footer, header, menu, 
 nav, section, time, audio, video, button, input, textarea, select {
    font-size: 100%;
 	font-family:Microsoft YaHei,sans-serif,Verdana, Arial, Helvetica;
    font-weight: normal;
    vertical-align: baseline;
    text-decoration: none;
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
a{display:inline-block;text-decoration: none;}
table { border-collapse:collapse; } 
ul,ol{
	list-style:none;
}
button{
	outline:none;
	border:none;
}
.flex_center{
	display:flex;
	justify-content:center;
	align-items:center;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
    overflow: hidden;
    height: 0;  
}