<!DOCTYPE html>
<html lang="zh-cmn-hans">
	<head>
		<title>新建问卷</title>
		<link rel="stylesheet" href="../css/public.css"/>
		<link rel="stylesheet" href="../css/create.css"/>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<header>
			<h2>微型问卷调查平台</h2><span>新建问卷</span>
		</header>		
		<section class="section_1" id="section_1" >
			<input type="text" v-if="show_input" @blur="show_H1" id="input" v-focus />
			<h1 v-if="show_h1" @click="show_inp">{{h1}}</h1>
			<div id="question">
				<ques
					v-for="(items,index) in question"
					:title="items.title"
					:category = "items.category"
					:index = 'index'
					:diedai='items.item'
					:tag_bridge = 'items.tag'
					:text = 'items.text'
					:must = 'items.must'
					:must_val = 'must_val'
					:span_down = 'span_down'
					:sort = 'sort'
				></ques>
			</div>
			<div class="create" id="add_ques">
				<div class="option"><button @click="btn_click">单选题</button><button @click="btn_click">多选题</button><button @click="btn_click">文本题</button></div>
				<div class="add_ques" @click="add_ques" ><span>点击添加问题</span></div>
			</div>
			<footer>
				<div class="fan"><label for="data">问卷截止日期:</label><span id="date" @click="calender">{{year}}-{{month}}-{{day}}</span><button @click="btn_click">保存问卷</button><button @click="btn_click">发布问卷</button></div>
				
			</footer>
			<div class="bac" v-show="bac" @click="bac_click">
				<div class="pop" @click="stop">
					<div class="pop_head">
						<span>{{category}}</span><span @click="bac_click">X</span>
					</div>
					<div class="create_item" v-show="create_item">
						<label v-show="ques_inp">请输入问题</label><input id="ques_inp" type="text" v-show="ques_inp"><br/>
						<label v-show="item_inp">请输入选项</label><input id="item_inp" type="text"  v-show="item_inp" placeholder="选项请用空格分隔">
					</div>
					<div class="mes" v-show="message">
						<p>{{mes}}</p>
					</div>
					<div class="center">
						<button @click="add_ques_item">确认</button><button @click="bac_click">取消</button>
					</div>
				</div>
			</div>
		</section>
		<div id="calender" class="calender">
					<div class="calender_head">
						<div class="left" id="left" ></div>
						<select class="year" id="year" >
							<option>2010</option>
							<option>2011</option>
							<option>2012</option>
							<option>2013</option>
							<option>2014</option>
							<option>2015</option>
							<option>2016</option>
							<option>2017</option>
							<option>2018</option>
							<option>2019</option>
							<option>2020</option>						
						</select>
						<select class="month" id="month">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
						</select>
						<div class="right" id="right"></div>
					</div>
					<table id="calender_tab" class="calender_tab">
					</table>
				</div>			
		<script src="../js/database.js"></script>
		<script src="../js/create.js"></script>
		<script src="../js/calender.js"></script>
	</body>
</html>